body {
    background: rgb(0, 0, 0);
}
#titulo_1, .posts, .texto, .links, .post1 {
    color: rgb(255, 255, 255);
}

#titulo_1 {
    color: cornsilk;
    font-style: oblique;
    text-decoration: underline #ffffff;
    margin-left: 40%;
    font-size: 50px;
    margin-bottom: -1px;

}

.posts {
    text-decoration: underline;
}

.minha_foto {
    border-radius: 15px;
    margin-bottom: -15px;
    border: 5px solid #ffffff;
    margin-left: 37%;

}

.post1 {
    text-decoration: underline #ffffff 5px;
    margin-left: 16%;
    margin-top: 105px;
}

.link1, .link2, .link3, .link4, .link5 {
    color: #ffffff;
}  

.video {
    margin-top: 50px; 
    margin-left: 25%;
        margin-bottom: 15px;
    border: 5px solid #ffffff;
    border-radius: 15px;
}

.imagem_html {
    border: 5px solid #ffffff;
    border-radius: 15px;
    margin-left: 15%;
}

.texto {
    font-size: 40px;
    font-style: oblique;
}
